@{
    ViewData["Title"] = "Home Page";
}


<div style='display:flex; position:absolute; top:0; bottom:0; right:0; left:0; font-weight:bold;font-size:large '>
    <div id='div_you_want_centered' style='margin:auto;'>
        MySecrets: @ViewData["myConnectionString"]
    </div>
</div>
